.promo {
    min-height: 650px;
    padding: 20px 0 90px 0;
    background: url('../img/bg.jpg') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        color: $white-color;
    }
    &__subheader {
        margin-top: 15px;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 24px;
        color: $white-color;
    }
    &__icons {
        margin-top: 60px;
        width: 424px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        width: 122px;
        font-weight: 500;
        font-size: 14px;
        color: $white-color;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        color: $white-color;
        margin-top: 12px;
        a {
            color: $white-color;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: $main-color;
                transition: 0.5s;
            }   
        }
        
    }
}