.advantage {
    min-height: 473px;
    padding: 70px 0 67px 0;
    background: #F6F6F6;
    &__header {
        color: $black-color;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 269px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
    }
    &__subheader {
        font-weight: 700;
        font-size: 18px;
        color: $black-color;
        text-align: center;
    }
    &__descr {
        margin-top: 20px;
        color: $black-color;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        a {
            color: #FF0000;
            text-decoration: underline;
            &:hover {
                color: $black-color;
                transition: 0.5s;
            }
        }
    }
}